


#SignInButton, #SignUpButton{

          -fx-background-color: transparent;
          -fx-background-radius: 0;
          -fx-padding: 0;
     }


#SignInButton:hover, #SignUpButton:hover{
              filter: brightness(75%);
              -fx-text-fill: #b3b3b3;
          -fx-background-radius: 0;
          -fx-padding: 0;
}
/* Apply to the Label elements inside the VBox */
VBox > Label {
  -fx-text-fill: #333;
}

/* Apply to the TextField elements inside the VBox */
VBox > TextField {
  -fx-background-color: rgba(255, 255, 255, 0.5);
  -fx-border-color: #ccc;
  -fx-border-radius: 20px;
   -fx-background-radius: 20px;
  -fx-border-width: 1;
}

/* Apply to the Button element inside the VBox */
VBox > Button {
  -fx-text-fill: #fff;
  -fx-border-width: 1;
  -fx-cursor: hand;
  -fx-border-radius: 20px;
     -fx-background-radius: 20px;
       -fx-background-color: darkslategrey;
       -fx-border-color: darkslategrey;
}

/* Apply to the Button when hovered */
VBox > Button:hover {

       -fx-background-color: lightsteelblue;
       -fx-border-color: lightsteelblue;
}

/* Apply to the Button when pressed */
VBox > Button:pressed {
              -fx-filter: brightness(75%);

  /*-fx-background-color: #1f4422;
  -fx-border-color: #1f4422;*/
}


